# ignore these directory
__pycache__/
venv/
ffmpeg/

media/temp/*
assets/temp/*
src-old/*
test-ffmpeg-engion/
test-ffmpeg-engion/*

# ignore these file extenstion
*.pyc
*.env
*.ini
*.log

/ffmpeg_learn
ffmpeg_learn/
ffmpeg_learn

